.root {
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: minmax(320px, 880px);
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  padding: 45px 0 60px;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .root {
    padding: 0 0 36px;
  }
}
