@import url(./vendor/normalize.css);
/* Подключаем шрифты */
@import url(./vendor/fonts.css);
/* Подключаем стили корневого элемента */
@import url(./blocks/root/root.css);
/* Подключаем стили button*/
@import url(./blocks/button/button.css);
/* Подключаем стили edit-button*/
@import url(./blocks/edit-button/edit-button.css);
@import url(./blocks/edit-button/_place/_profile/edit-button_place_profile.css);
/* Подключаем стили add-button*/
@import url(./blocks/add-button/add-button.css);
@import url(./blocks/add-button/_place/_profile/add-button_place_profile.css);
/* Подключаем стили close-button*/
@import url(./blocks/close-button/close-button.css);
/* Подключаем стили like-button*/
@import url(./blocks/like-button/like-button.css);
@import url(./blocks/like-button/_place/_photos/like-button_place_photos.css);
@import url(./blocks/like-button/_active/like-button_active.css);
/* Подключаем стили delete-button*/
@import url(./blocks/delete-button/delete-button.css);
@import url(./blocks/delete-button/_display/_none/delete-button_display_none.css);
/* Подключаем стили header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__profile-container/header__profile-container.css);
@import url(./blocks/header/__profile-container/_active/header__profile-container_active.css);
@import url(./blocks/header/__menu-container/header__menu-container.css);
@import url(./blocks/header/__hamburger/header__hamburger.css);
@import url(./blocks/header/__hamburger/_active/header__hamburber_active.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__link/header__link.css);
/* Подключаем стили form */
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input-container/form__input-container.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__button/_theme/_black/form__button_theme_black.css);
@import url(./blocks/form/__button/_theme/_black/_disabled/form__button_theme_black_desabled.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_theme/_black/form__input_theme_black.css);
/* login-container */
@import url(./blocks/login-container/login-container.css);
@import url(./blocks/login-container/__link/login-container__link.css);
/* Подключаем стили content*/
@import url(./blocks/content/content.css);
/* Подключаем стили logo*/
@import url(./blocks/logo/logo.css);
/* Подключаем стили profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image-container/profile__image-container.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
/* Подключаем стили photos*/
@import url(./blocks/photos/photos.css);
@import url(./blocks/photos/__element/photos__element.css);
@import url(./blocks/photos/__list/photos__list.css);
@import url(./blocks/photos/__title-container/photos__title-container.css);
@import url(./blocks/photos/__title/photos__title.css);
@import url(./blocks/photos/__like-counter/photos__like-counter.css);
@import url(./blocks/photos/__image/photos__image.css);
@import url(./blocks/photos/__delete-button/photos__delete-button.css);
/* Подключаем стили footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* Подключаем стили popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__info/popup__info.css);
/* @import url(./blocks/popup/__input/_error/popup__input_error.css); */
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_opacity/_small/popup_opacity_small.css);
@import url(./blocks/image-container/image-container.css);
/* Подключаем стили для валидации popup */
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
